{% extends 'base.html' %}
{% block content %}

<h2>Crear diagnóstico</h2>

<form method="POST" action="">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="resultado">Resultado</label>
        <input type="text" name="nombre" id="nombre" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="diagnostico">Diagnostico</label>
        <textarea name="descripcion" id="descripcion" rows="4" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-success waves-effect waves-light">Crear</button>
    <a href="{% url 'diagnosticos_list' %}" class="btn btn-primary waves-effect waves-light">Volver</a>
</form>

{% endblock %}
